body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header{
    background-color: #da291c;
    width: 100vw;
    /*! justify-content: space-between; */
}

.header h1{
    margin-top: 0;
    padding-top: 21px;
    padding-bottom: 14px;
    padding-left: 15px;
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    display: inline-block;
    top: 0;
    vertical-align: top;
    color: black;
}

.header img{
    width: 65px;
    /*! margin: 14px; */
    display: inline-block;
    padding-left: 15px;
    padding-top: 20px;
}

.content{
    margin: 10px;
}


/* For Tag Manager */
input:checked ~ label {
    opacity: 1;
}
input:not(:checked) ~ label {
    opacity: 0.2;
}
.tagCheckIcon{
    width: 50px;
}
input[type=checkbox] {
    display:none;
}
table.tagTable{
    border-collapse: collapse
}
table.tagTable th{
    min-width: 80px;
}
table.tagTable tbody tr:nth-child(odd) {
    background-color: #E2E2E2;
}
.tagCheckCell{
    text-align: center;
}
table.tagTable h4{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.formButton{
    background: none;
    margin-right: 10px;
    width: 100px;
    border-width: 1px;
    height: 28px;
}


/* For the home page */
div.welcomeHeader {
    text-align: center;
    margin-bottom: 10vh;
}

div.welcomeHeader h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45pt;
    font-variant-caps: small-caps;
}

div.welcomeHeader h3{
    font-family: 'Courier New', Courier, monospace;
    color: lightslategray; 
}

span.inText{
    color: #625e5e;
}

.getTheApp{
    padding: 2vw;
    max-width: 76vw;
    margin-left: 10vw;
    padding-bottom: 10vh;
    /*! background-color: #dfdede; */
    border-radius: 8px;
    text-align: center;
    border: 3px solid #dfdede;
}

.getTheApp h2{
    margin-bottom: 15vh; 
    font-family: Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}

.getTheApp a{
    padding: 2vw 4vw;
    border-radius: 10px;
    margin: 1vw 4vw;
    background: red;
    color: #dfdede;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 20pt;
}

.getTheApp a:hover{
    background-color: #625e5e;
}

div.appDemoImages{
    position: relative;
    padding-bottom: 45vw;
    margin-left: 50%;
}

div.appDemoImages img{
    width: 20vw;
    left: -10vw;
    position: absolute;
}

.hoverPage:hover + .hiddenPage {
    display: block;
}
.hiddenPage {
    display: none;
    /*! scale: 90%; */
    border: 1vw solid black;
    border-radius: 50px;
    top: -24px;
    left: -11vw !important;
}
.hiddenPage:hover{
    display: block;
}

.upcomingEvents h2{
    text-align: center;
    margin-top: 15vh; 
    font-family: Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}

.upcomingEventsSample{
    /* background-color: #625e5e; */
    height: 70vh;
    width: 50vw;
    margin-left: 25vw;
    margin-bottom: 10vh;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-gutter: stable;
    -webkit-mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
  
}

.event{
    background-color: #dfdede;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.event h3{
    margin-bottom: 3px;
    display: inline-block;
}

.event subtitle{
    color: grey;
    display: block;
}

div.overview{
    text-align: center;
    background-color: #eeeeeeee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5vw;
    padding: 1vw;
    padding-bottom: 8vh;
}

div.overview h2{
    font-weight: bold;
    padding-top: 8vh;
    padding-bottom: .5vh;
}

div.overview p{
    font-family: Geneva, Tahoma, sans-serif;
    padding: 0 15%;
    line-height: 1.7;
}

div.overview p a{
    color: #ff2f2f;
    text-decoration: none;
}
div.overview p a:hover{
    color: #970c0c;
    text-decoration: none;
}

div.overview p code{
    border: 1px solid black;
    border-radius: 4px;
    background-color: #d8d8d8;
    font-family: monospace;
    padding: 2px 4px;
    font-weight: bold;
    color: #ff2f2f;
}

footer{
    text-align: center;
    vertical-align: top;
    background-color: #970c0c56;
    padding: 10px;
}

footer a{
    color: black !important;
    text-decoration: none;
}

.privacyLink {
    overflow: hidden;
    position: relative;
    display: inline-block;
  }
  
.privacyLink::before,
.privacyLink::after {
   content: '';
    position:absolute;
    width: 100%;
    left: 0;
  }
.privacyLink::before {
    background-color: #15276d;
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }
.privacyLink::after {
    content:attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: #15276d;
  }
  
.privacyLink:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }
.privacyLink:hover::after {
    transform: translate3d(0, 0, 0);
  }
  
.privacyLink span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
.privacyLink:hover span {
    transform: translate3d(-200%, 0, 0);
  }
  

.privacyLink {
    text-decoration: none;
    color: #18272F;
    font-weight: 700;
    vertical-align: top;
  }
  
  