body{
    margin: 0;
}

.header{
    background-color: #da291c;
    width: 100vw;
    /*! justify-content: space-between; */
}

.header h1{
    margin-top: 0;
    padding-top: 21px;
    padding-bottom: 14px;
    padding-left: 15px;
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    display: inline-block;
    top: 0;
    vertical-align: top;
}

.header img{
    width: 65px;
    /*! margin: 14px; */
    display: inline-block;
    padding-left: 15px;
    padding-top: 20px;
}

.content{
    margin: 10px;
}


/* For Tag Manager */
input:checked ~ label {
    opacity: 1;
}
input:not(:checked) ~ label {
    opacity: 0.2;
}
.tagCheckIcon{
    width: 50px;
}
input[type=checkbox] {
    display:none;
}
table.tagTable{
    border-collapse: collapse
}
table.tagTable th{
    min-width: 80px;
}
table.tagTable tbody tr:nth-child(odd) {
    background-color: #E2E2E2;
}
.tagCheckCell{
    text-align: center;
}
table.tagTable h4{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.formButton{
    background: none;
    margin-right: 10px;
    width: 100px;
    border-width: 1px;
    height: 28px;
}